html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Montserrat", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#1F1309;
 }

 /* HEADER */

 header {
   color:#FFFFFF;
 }

 header .logo {
   float: left;
 }

 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#845F5A;
 }

 header .headline{
   text-align: center;
   display:block;
   text-align: center;
   padding-bottom: 95px;
 }
 header .headline h1 {
   font-weight: normal;
   margin:95px 0 0;
 }
 header .headline p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }

 header,
footer, 
section {
   overflow: auto;
}

 h1, h2, h3, h4, h5, h6 {
   font-family: "Crimson Text", Helvetica, Arial, serif;
   color: white;
 }

 h1 {
   font-size: 72px;
   font-weight: normal;
   margin-bottom: 20px;
   line-height: 1.5em;
 }
 

 h2 {
   font-size:48px;
   font-weight: normal;
   margin-bottom: 20px;
   line-height: 1.5em;
   opacity: .9;
 }

 h3 {
   font-size:36px;
   font-weight: normal;
   margin-bottom: 20px;
   line-height: 1.5em;
   opacity: .9;
 }
 p {
   font-size: 22px;
   margin-bottom: 20px;
   line-height: 1.5em;
   font-weight: 100;
   opacity: .9;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: "";
   display: table;
 }
 .container:after {
   clear: both;
 }

 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
 /*IMAGES*/
 .hero {
  vertical-align: top;
  background-image: url("images/brainstorm.png"); 
  background-size: cover;
  position: relative;
}

 .overlay { 
   position:relative;  
} 

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:500%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
}

.black:before {
  background-color: #000000;
  opacity: .35;
}

 .brown:before {
 background-color:#7E6233;
 }


.hero * {
    position: relative;
    /* hack */
}

/* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #F9461C;
   box-shadow: 0 2px 4px 2px rgba(71,19,7,0.90);;
 }


/*BENEFITS*/

 .benefits {
 background-image: url("images/cardboard.png");
 background-repeat: repeat;
 display:block;
 position:relative;
 color: #1F1309;
 text-align: center; 
 height: 100%;
 }
 
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   color:#1F1309;
   font-size:144px;
   margin:0;
   border:0;
   vertical-align: middle;
   display: block;
   height: 336px;
   width: 100%;
   opacity: .7;
 }


 .benefits h2 {
   color:#1F1309;
   opacity: .7;
 }

 .benefits p{
   font-size: 24px;
   line-height: 1.5em;
   opacity: .8;
 }

 /*SECOND HERO*/

 .container-second-hero {
  vertical-align: top;
  height: 287px;
  background-image: url("images/Guy-on-grass.png"); 
  background-size: cover;
  position: relative;
}

/*ADDITIONAL FEATURES*/

 .additional-features {
   background-image: url("images/cardboard.png");
   background-repeat: repeat;
   text-align: center;
   display:block;
   display: table;
   width: 100%;
 }

.additional-features h1{
   display: table-cell;
   text-align: center;
   display:block;
   padding-top: 130px;
}

.additional-features h3{
    font-family: "Crimson Text", Helvetica, Arial, sans-serif;
    color: #1F1309;
    font-size: 36px;
}


.additional-features  ul{
    color: #1F1309;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 100;
    list-style: none;
    opacity: .9;
}



 /* PRICING */
 .pricing {
   background: #FFFFFF;
   padding:4em 0;
   text-align: center;
 }

 .pricing h2, .pricing h3, .pricing h4, .pricing p {
   color:#1F1309;
   line-height: 0.5em;
 }

 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

 .pricing .container p {
   line-height: 1.5em;
 }

 .box{
   padding:0 0 15px;
   background: rgba(124,49,70,0.18);
   border: 1px solid #979797;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
   width: 100%;
 }
 .box.middle {
   border: 1px solid rgba(31,19,8,0.55);
   box-shadow: 0 2px 0 1px rgba(46,60,65,0.52);
   background: #FFFFFF;
   min-height: 485px;
   margin-top:0px;
   width: 110%;
 }
 .box h3 {
   font-family: "Crimson Text", Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size:48px;
 }

.box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#1F1309;
   text-transform: uppercase;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Crimson Text", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#1F1309;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }

 .box .btn {
   position:absolute;
   bottom:60px;
   left:40px;
   right:40px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }


/* TESTIMONIALS */
 .testimonials {
   padding:2em 0;
   text-align: center;
 }


 .testimonials h2 {
   color:#1F1309;
 }

 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#FFFFFF;
   text-align: left;
   font-style: italic;
   background:#1F1309;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #1F1309;
   border-width: 10px;
   margin-left: -10px;
 }

 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }

 .testimonials .second, .fourth{
   position: relative;
   top: 20px;
 }

 .CTA {
   background: #FFFFFF;
   text-align: center;
   margin-bottom: 4em;
 }


 /* FOOTER */
 footer {
   background-color: #1F1309;
   background-image: url("images/cardboard.png");
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }

 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
    color: #9C4022;
 }

 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   text-decoration: none;
    color: #9C4022;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: -2.35em 0;
   margin: 0 auto;
   display: block;
}

@media (min-width: 992px){
   footer{
     background-color: #1F1309;
     background-image: url("images/cardboard.png");
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #1F1309;
   }

   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:33.333%;
     padding-left:0;
     padding-right:0;
     margin-left:0;
     margin-right:0;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media (min-width: 4000px) {
   .container {
     width: 3800px;
   
   }
   html {
      font-size: 150%
      line-height: 150%
   }
}



 