html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Montserrat", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#1F1309;
 }

 /* HEADER */

 header {
   color:#FFFFFF;
 }

 header .logo {
   float: left;
 }

 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#845F5A;
 }

 header .headline{
   text-align: center;
   display:block;
   text-align: center;
   padding-bottom: 95px;
 }
 header .headline h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .headline p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }

 header,
footer, 
section {
   overflow: auto;
}

 h1, h2, h3, h4, h5, h6 {
   font-family: "Crimson Text", Helvetica, Arial, serif;
   color: white;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }
 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
 /*IMAGES*/
 .hero {
  vertical-align: top;
  background-image: url("images/brainstorm.png"); 
  background-size: cover;
  position: relative;
}

 .overlay { 
   position:relative;  
} 

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:500%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
}

.black:before {
  background-color: #000000;
  opacity: .35;
}

.hero * {
    position: relative;
    /* hack */
}

/* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #F9461C;
   box-shadow: 0 2px 4px 2px rgba(71,19,7,0.90);;
 }

.container-second-hero {
  vertical-align: top;
  height: 287px;
  background-image: url("images/Guy-on-grass.png"); 
  background-size: cover;
  position: relative;
}

 .benefits {
 background-image: url("images/cardboard.png");
 background-repeat: repeat;
 }

 .additional-features {
 background-image: url("images/cardboard.png");
 background-repeat: repeat;
 }

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media (min-width: 4000px) {
   .container {
     width: 3800px;
   
   }
   html {
      font-size: 150%
      line-height: 150%
   }
}



 